{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Charchter Form</title>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">


</head>
<body>
<div class="header">
        <div class="inner_header">
            <div class="logo_container">
                <h1>AA<span>AS</span></h1>
            </div>
            <ul class="navigation">
                <a  href="#home" >Home<span class="sr-only">(current)</span></a>
                <a  href="#Portfolio">Profile</a>

                <a  href="#Contact">Contact</a>
            </ul>
        </div>
    </div>


<div class="wrapper">
  <div class="title">
    
  </div>
  
  
    <div class="form">
        <button type="button" class="btn inhome" onclick="location.href={% url 'registrerrole' %}" >update courses</button>
        <button type="button" class="btn inhome" onclick="location.href='{% url 'newuser' %}'">add new Student</button>



</div>
    <div class="form">
       <button type="button" class="btn inhome" onclick="location.href='{% url 'logout' %}'" >logout</button>

</div>
   
    
	
</body>
</html>