{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Registration Contacts</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'fonts/contact_fonts/icomoon/style.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/contact_fonts/flaticon/font/flaticon.css' %}">

    <link rel="stylesheet" href="{% static 'bootstrap-4/css/contact_css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'bootstrap-4/css/contact_css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-4/css/contact_css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-4/css/contact_css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-4/css/contact_css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-4/css/contact_css/bootstrap-datepicker.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-4/css/contact_css/aos.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-4/css/contact_css/rangeslider.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-4/css/contact_css/style.css' %}">

  </head>
  <body>

  <div class="site-wrap">

    <div class="site-mobile-menu">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>

    <header class="site-navbar container py-0 bg-white" role="banner">

      <!-- <div class="container"> -->
        <div class="row align-items-center">

          <div class="col-6 col-xl-2">
            <h1 class="mb-0 site-logo"><a class="text-black mb-0">AAA<span class="text-primary">S</span>  </a></h1>
          </div>
          <div class="col-12 col-md-10 d-none d-xl-block">
            <nav class="site-navigation position-relative text-right" role="navigation">

              <ul class="site-menu js-clone-nav mr-auto d-none d-lg-block">
{#                    <li >#}
{#                  <a href="{% url 'about_us' %}">About Us</a>#}
{#                    </li>#}

                <li class="ml-xl-3 login active"><a href="{% url '$' %}"><span class="border-left pl-xl-4"></span>Log In</a></li>

                  <li class="has-children">
                            <a href="#">My Academics</a>
                            <ul class="dropdown">
                                <li><a href="#">The Progress</a></li>
                                <li><a href="#">The Subjects</a></li>
                                <li><a href="#">Projects</a></li>
                                <li><a href="#">Major</a></li>
                            </ul>
                        </li>

{#                <li><a href="#" class="cta"><span class="bg-primary text-white rounded"></span></a></li>#}
              </ul>
            </nav>
          </div>


          <div class="d-inline-block d-xl-none ml-auto py-3 col-6 text-right" style="position: relative; top: 3px;">
            <a href="#" class="site-menu-toggle js-menu-toggle text-black"><span class="icon-menu h3"></span></a>
          </div>

        </div>
      <!-- </div> -->

    </header>



    <div class="site-blocks-cover inner-page-cover overlay" style="background-image: url({% static 'img/hero_1.jpg' %})";
         data-aos="fade" data-stellar-background-ratio="0.5">
      <div class="container">
        <div class="row align-items-center justify-content-center text-center">

          <div class="col-md-10" data-aos="fade-up" data-aos-delay="400">


            <div class="row justify-content-center mt-5">
              <div class="col-md-8 text-center">
                <h1>Registrer Section </h1>
                <p class="mb-0">Update Student Academic Data</p>
              </div>
            </div>


          </div>
        </div>
      </div>
    </div>

    <div class="site-section bg-light">
      <div class="container">
        <div class="row">
          <div class="col-md-7 mb-5"  data-aos="fade">

            <form action="#" class="p-5 bg-white">


            <div class="row form-group">
                <div class="col-md-6 mb-3 mb-md-0">
                  <label class="text-black" for="fname">Student ID</label>
                  <input type="text" id="fname" class="form-control">
                </div>
            </div>

                <div class="row form-group">

                    <div class="col-md-12">

                        <button id="generate" class="btn btn-primary px-4 py-2 text-white" style="margin: 10px;"
                       type="button" value="generateFromID" onclick="getStudentID()">Get Courses</button><br>


                        <label class="text-black" for="coursesList">Courses List</label>

                        <div id="container" class="generate"><br>

                            </div>
                        </div>
                    </div>

{#            <button id="generatTable" class="btn btn-primary px-4 py-2 text-white" style="margin: 10px;"#}
{#                       type="button" value="Generate Table" onclick="Javascript:addTable()">Genarate Table</button>#}
            </form>
            <form action="#" class="p-5 bg-white" style="margin-top: 20px">

            <div class="row form-group">
                <div class="col-md-12">

                    <div id="myform">
                        <b>Simple form with name and age ...</b>
                        <table>
                            <tr>
                                <td>Course  </td>
                                <td><input type="text" id="course"></td>
                            </tr>
                            <tr>
                                <td>GPA</td>
                                <td><input type="text" id="gpa">
                    <button id="" style="margin: 10px;" class="btn btn-primary px-4 py-2 text-white" onclick="addRow();">Add</button>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                        </table>
                    </div>

                    <div id="mydata">
                        <b>Current data in the system ...</b>
                        <table id="myTableData"  border="1" cellpadding="2">
                            <tr>
                                <td>&nbsp;</td>
                                <td><b>Course</b></td>
                                <td><b>GPA</b></td>
                            </tr>
                        </table>
                        &nbsp;
                    </div>

                <div id="myDynamicTable">
                    <input type="button" id="create" value="Click here" onclick="addRowFromdata();">
                    to create a Table and add some data using JavaScript
                    </div>

                </div>
            </div>






            <button id="" style="margin: 10px;" class="btn btn-primary px-4 py-2 text-white">Remove</button>
            <button id="" style="margin: 10px;" class="btn btn-primary px-4 py-2 text-white">Submit</button>

            </form>
          </div>
          <div class="col-md-5"  data-aos="fade" data-aos-delay="100">

            <div class="p-4 mb-3 bg-white">
              <p class="mb-0 font-weight-bold">Name</p>
              <p class="mb-4"> Student Name </p>

              <p class="mb-0 font-weight-bold"> Total GPA</p>
              <p class="mb-4"> GPA </p>

              <p class="mb-0 font-weight-bold">Grade</p>
              <p class="mb-0">Student Grade</p>

            </div>

            <div class="p-4 mb-3 bg-white">
              <h3 class="h5 text-black mb-3">More Info</h3>
              <p>Check Student Academic Report for Detailes</p>
              <p><a class="btn btn-primary px-4 py-2 text-white">View Report</a></p>
            </div>

          </div>
        </div>
      </div>
    </div>

    <footer class="site-footer">
<div class="col-md-12 text-center">
               <p>
            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved <i class="icon-heart" aria-hidden="true"></i> by <a href="#" target="_blank" >No One Team</a>
            </p>
          </div>
    </footer>
  </div>

                <script>
                //------------------------ Dynamiclly Creating DropBox-------------------------
                    function getStudentID() {
                      var values = ["registered", "Studied", "Failed"];
                      var select = document.createElement("select");
                      select.name = "list";
                      select.id = "list"
                      for (const val of values) {
                        var option = document.createElement("option");
                        option.value = val;
                        option.text = val;
                        select.appendChild(option);
                      }
                      var label = document.createElement("label");
                      label.innerHTML = "Choose Table To Edit : ";
                      label.htmlFor = "list";
                      document.getElementById("container").appendChild(label).appendChild(select);
                            }
                //-----------------------Generate Table-----------------------------------
                    function addRow() {

                        var myName = document.getElementById("course");
                        var age = document.getElementById("gpa");
                        var table = document.getElementById("myTableData");

                        var rowCount = table.rows.length;
                        var row = table.insertRow(rowCount);

                        row.insertCell(0).innerHTML= '<input type="button" value = "Delete" class="btn btn-primary px-4 py-2 text-white" onClick="Javacsript:deleteRow(this)">';
                        row.insertCell(1).innerHTML= myName.value;
                        row.insertCell(2).innerHTML= age.value;

                    }

                //-----------------------Generate Table-----------------------------------
                        function addRowFromdata() {
                        var dic = {"it":3 , "math":2}
                        var myName = document.getElementById("name");
                        var age = document.getElementById("age");
                        var table = document.getElementById("myTableData");

                        var rowCount = table.rows.length;

                        var counter = 0;
                         for(var x in dic){
                             var row = table.insertRow(counter+1);
                             row.insertCell(0).innerHTML= '<input type="button" class="btn btn-primary px-4 py-2 text-white" value = "Delete" onClick="Javacsript:deleteRow(this)">';
                             row.insertCell(1).innerHTML= x;
                             row.insertCell(2).innerHTML= dic[x];
                            counter++;
	                    }

                    }

                    function deleteRow(obj) {

                        var index = obj.parentNode.parentNode.rowIndex;
                        var table = document.getElementById("myTableData");
                        table.deleteRow(index);

                    }

                    function addTable() {

                        var myTableDiv = document.getElementById("myDynamicTable");

                        var table = document.createElement('TABLE');
                        table.border='1';

                        var tableBody = document.createElement('TBODY');
                        table.appendChild(tableBody);

                        for (var i=0; i<3; i++){
                           var tr = document.createElement('TR');
                           tableBody.appendChild(tr);

                           for (var j=0; j<4; j++){
                               var td = document.createElement('TD');
                               td.width='75';
                               td.appendChild(document.createTextNode("Cell " + i + "," + j));
                               tr.appendChild(td);
                           }
                        }
                        myTableDiv.appendChild(table);

                    }

                    {#var dt = dynamicTable.config('data-table', //id of the table#}
                    {#         ['field2', 'field1', 'field3'], //field names#}
                    {#         ['header 1', 'header 2', 'header 3'], //set to null for field names to be used as header names instead of custom headers#}
                    {#         'There are no items to list...'); //default text for no items#}

                    function load() {

                        console.log("Page load finished");

                    }

                </script>

  <script src="{% static 'bootstrap-4/js/contact_js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'bootstrap-4/js/contact_js/jquery-migrate-3.0.1.min.js' %}"></script>
  <script src="{% static 'bootstrap-4/js/contact_js/jquery-ui.js' %}"></script>
  <script src="{% static 'bootstrap-4/js/contact_js/popper.min.js' %}"></script>
  <script src="{% static 'bootstrap-4/js/contact_js/bootstrap.min.js' %}"></script>
  <script src="{% static 'bootstrap-4/js/contact_js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'bootstrap-4/js/contact_js/jquery.stellar.min.js' %}"></script>
  <script src="{% static 'bootstrap-4/js/contact_js/jquery.countdown.min.js' %}"></script>
  <script src="{% static 'bootstrap-4/js/contact_js/jquery.magnific-popup.min.js' %}"></script>
  <script src="{% static 'bootstrap-4/js/contact_js/bootstrap-datepicker.min.js' %}"></script>
  <script src="{% static 'bootstrap-4/js/contact_js/aos.js' %}"></script>
  <script src="{% static 'bootstrap-4/js/contact_js/rangeslider.min.js' %}"></script>
  <script src="{% static 'bootstrap-4/js/contact_js/main.js' %}"></script>

  </body>
</html>
