{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Student Tables Form</title>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

<div class="wrapper">
  <div class="title">
    Choose Your Dirction
  </div>
  
  
 <div class="form">
    <button type="button" class="btn inhome" onclick="location.href='{% url 'anyGrade' %}'">Register for Courses</button>
</div>
    <div class="form">
    <button type="button" class="btn inhome" onclick="location.href='{% url 'StudentTable' %}'">View Report Card</button>
    
</div>
   
    
	
</body>
</html>